.mat-toolbar { background: #333; }

.table-wrapper { display: flex; flex-direction: column; padding: 30px; }
table { width: 100%; }

.form {
  width: 100%;
  background: #fff;
  padding: 15px;
  box-shadow: 1px 1px 5px 1px #999;
  margin-top: 15px;
}
