<button mat-raised-button (click)="showAddForm = !showAddForm">Add new Todo</button>
<div class="form" *ngIf="showAddForm">
  <form [formGroup]="addTodoForm" (ngSubmit)="onSave()">
    <div class="form-group">
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Name">
      </mat-form-field>
      <mat-checkbox matInput formControlName="completed">Completed?</mat-checkbox>
    </div>

    <div class="form-group">
      <mat-form-field>
        <textarea matInput formControlName="description" placeholder="Description"></textarea>
      </mat-form-field>
    </div>

    <div class="form-group">
      <button mat-raised-button type="submit" [disabled]="!addTodoForm.valid">Submit</button>
    </div>
  </form>
</div>
